Project0/degrees/degrees.zip
Project0/tictactoe/tictactoe.zip
Project1/knights/knights.zip
Project1/minesweeper/minesweeper.zip
Project5/traffic/traffic.zip
Project5/traffic/gtsrb.zip
Project5/traffic/gtsrb
